{% extends '@Books/layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <h2>Formulaire d'enregistrement d'un support</h2>
    <select id="types">
        {% for type in types|keys %}
            <option value="support_type_{{ loop.index }}">{{ type }}</option>
        {% endfor %}
    </select>
    {% for form in forms %}
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(form) }}
        <div class="form hidden col-xs-offset-2 col-xs-6" id="support_type_{{ loop.index }}">
            {{ form_label(form) }}
            {{ form_widget(form) }}
            {{ form_rest(form) }}
        </div>
        {{ form_end(form) }}
    {% endfor %}
    <button type="submit" value="submit"></button>
    <div class="col-xs-12">
        <a href="{{ path('books_homepage') }}">Retour à l'acceuil</a>
    </div>
{% endblock %}


{% block javascripts %}
    <!-- JS -->
    <script src="{{ asset('js/supportType.js') }}"></script>
{% endblock %}