{% extends '@Books/layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}{{ dump(volumeInfo) }}
    <section class="col-xs-6">
        <div class="col-xs-12">
            <img src="{{ volumeInfo['imageLinks']['smallThumbnail'] }}">
            <img class="hidden" src="{{ volumeInfo['imageLinks']['small'] }}">
        </div>
        <div class="col-xs-12">
            {{ volumeInfo['title'] }}
        </div>
        <div class="col-xs-12">
            {% for author in volumeInfo['authors'] %}
                {{ author }}
            {% endfor %}
        </div>
        <div class="col-xs-12">
            {{ volumeInfo['publishedDate'] }}
        </div>
        <div class="col-xs-12">
            {{ volumeInfo['description']|raw }}
        </div>
        <div class="col-xs-12">
            {{ volumeInfo['industryIdentifiers'][0]['identifier'] }}
        </div>
        <div class="col-xs-12">
            {{ volumeInfo['industryIdentifiers'][1]['identifier'] }}
        </div>
        <div class="col-xs-12">
            {{ volumeInfo['pageCount'] }}
        </div>
        <div class="col-xs-12">
            {{ volumeInfo['language'] }}
        </div>
        <div class="col-xs-12"></div>
    </section>

    <section class="col-xs-6">

    </section>
{% endblock %}