{% extends '@Books/layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}{#{ dump(volumeInfo) }#}
    <section class="col-xs-6">
        <div class="col-xs-12">
            <img src="{{ volumeInfo['imageLinks']['smallThumbnail'] }}">
            <img class="hidden" src="{{ volumeInfo['imageLinks']['small'] }}">
        </div>
        <div class="col-xs-12" id="volumeInfoTittle">
            {{ volumeInfo['title'] }}
        </div>
        <div class="col-xs-12" id="volumeInfoAuthor">
            {% for author in volumeInfo['authors'] %}
                {{ author }}
            {% endfor %}
        </div>
        <div class="col-xs-12">
            {{ volumeInfo['publishedDate'] }}
        </div>
        <div class="col-xs-12" id="volumeInfoDescription">
            {{ volumeInfo['description']|raw }}
        </div>
        <div class="col-xs-12" id="volumeInfoIsbn10">
            {{ volumeInfo['industryIdentifiers'][0]['identifier'] }}
        </div>
        <div class="col-xs-12" id="volumeInfoIsbn13">
            {{ volumeInfo['industryIdentifiers'][1]['identifier'] }}
        </div>
        <div class="col-xs-12" id="volumeInfoPageCount">
            {{ volumeInfo['pageCount'] }}
        </div>
        <div class="col-xs-12" id="volumeInfoLanguage">
            {{ volumeInfo['language'] }}
        </div>
        <div class="col-xs-12"></div>
    </section>

    <section class="col-xs-6">
        <select id="types">
            {% for type in types|keys %}
                <option value="support_type_{{ loop.index }}">{{ type }}</option>
            {% endfor %}
        </select>
        {% for form in forms %}
            {% form_theme form 'bootstrap_3_layout.html.twig' %}
            {{ form_start(form) }}
            <div class="form hidden col-xs-12" id="support_type_{{ loop.index }}">
                {{ form_label(form) }}
                {{ form_widget(form) }}
                {{ form_rest(form) }}
            </div>
            {{ form_end(form) }}
        {% endfor %}
        <div class="col-xs-12">
            <button type="submit" value="submit">Enregistrer</button>
        </div>
        <div class="col-xs-12">
            <a href="{{ path('books_homepage') }}">Retour à l'acceuil</a>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <!-- JS -->
    <script src="{{ asset('js/supportType.js') }}"></script>
    <script src="{{ asset('js/imputPreFill.js') }}"></script>
{% endblock %}